header {
  padding: 30px;
background-color: #448AFF;
  background-image url('https://media.salon.com/2018/08/squidward.jpg')
  background-size: cover;
  background-attahment: fixed;
  background-position: center;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}

aside {
  grid-area: aside;
  background: #99BFFF;
}

article {
  grid-area: article;
  background: #CCDFFF;
}

footer {
  grid-area: footer;
  background: #448AFF;
}
