header {
  padding: 30px;
background-color: #448AFF;
  background-image: url('https://imgix.ranker.com/user_node_img/50057/1001120402/original/missed-spongebob-when-he-moved-away-photo-u1?w=650&q=50&fm=pjpg&fit=crop&crop=faces');
  background-size: cover;
  background-attahment: fixed;
  background-position: center;
  height: 100%;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}

aside {
  grid-area: aside;
  background: #99BFFF;
}

article {
  grid-area: article;
  background: #CCDFFF;
}

footer {
  grid-area: footer;
  background: #448AFF;
}
